block variables
  - title="Face detection demo - CloudCV"

extends layout

block content
    div.container
        h1 Face detection example

        p You may pick one of the existing images for a quick result from the following list or upload your own image. There is no limit on size of uploaded images for now. 
        p 
            | Please ready the 
            a(href='/privacy') privacy statement 
            | to feel safe about images you upload (in short: it's safe).

        form(method='post',id='process-image-form',enctype="multipart/form-data",style='opacity:0')                   
            input(type="file",name='image',id="file-selector",accept="image/*")
            input(type='submit')

        div.row
            each demoImage in example.availableImages
                div.col-sm-6.col-md-2
                    div.thumbnail
                        img(src="#{demoImage.thumbnailURL}")
                        div.caption
                            form(method="post")                                
                                button.btn.btn-default(type="submit") #{demoImage.key} 
                                input(type="hidden",name="image",value="#{demoImage.key}")

            div.col-sm-6.col-md-2
                div.thumbnail
                    img(data-src='holder.js/128x128/gray/text:Upload image')
                    div.caption                            
                        button.btn.btn-primary(onclick="$('#file-selector').click();") Choose image 


        div.output(id="output")
        
            if (typeof(result) !== 'undefined')

                h2 Detected faces
                    a(href='#content')

                div.panel.panel-default
                    .panel-heading Result
                    .panel-body
                        .row
                            .col-md-6       
                                img(src="#{result.imageWithFaces}")
                            .col-md-6       
                                
                                ul
                                    li Total detected faces #{result.faces.length}
                                    li Detection time #{result.detectionTimeMs}
                                                 

        h4 Tell us what do you think    
        include includes/disqus

block scripts
    script $(document).ready(function () { document.getElementById('file-selector').addEventListener('change', function(e) { console.log('file selected'); var f = $('#process-image-form'); console.log(f); f.submit(); } );  });

    if (typeof(result) !== 'undefined')
        script.
            $(document).ready(function () { 
                
                    var l = $("#output").offset().top; 
                    console.log(l); 
                    $('html, body').animate({scrollTop: l}, 200); 
                
            });
    