block variables
  - title="Image analysis demo - CloudCV"

extends layout

block content
    div.container
        h1 Image analysis example

        p You may pick one of the existing images for a quick result from the following:

        div.row
            div.col-sm-6.col-md-2
                div.thumbnail
                    img(src="/images/lena-128.png")
                    div.caption
                        form(method="post")
                            input(type="hidden",name="image",value="lena")
                            button.btn.btn-default(type="submit") Lena 
    
            div.col-sm-6.col-md-2
                div.thumbnail
                    img(src="/images/mandrill-128.png")
                    div.caption
                        form(method="post")
                            input(type="hidden",name="image",value="mandrill")
                            button.btn.btn-default(type="submit") Mandrill 

            div.col-sm-6.col-md-2
                div.thumbnail
                    img(src="/images/sudoku-128.png")
                    div.caption
                        form(method="post")
                            input(type="hidden",name="image",value="sudoku")
                            button.btn.btn-default(type="submit") Test 

            div.col-sm-6.col-md-2
                div.thumbnail
                    img(src="holder.js/128x128")
                    div.caption
                        form(method="post")
                            input(type="hidden",value="sudoku")
                            button.btn.btn-default.disabled(type="submit") Choose image 


        - if (typeof(result) !== 'undefined'){
        h2 Analyze results
        p Histogram
        img(src="#{result.histogram}")
        
        ul
            li Image aspect ratio is #{result.aspectNum} : #{result.aspectDenom}
            li Brightness #{result.brightness}
            li Execution time #{result.processingTimeMs} ms
        -}
