block variables
  - title="Image analysis demo - CloudCV"

extends layout

block content
    div.container
        h1 Image analysis example

        p You may pick one of the existing images for a quick result from the following:

        div.row
            each demoImage in example.availableImages
                div.col-sm-6.col-md-2
                    div.thumbnail
                        img(src="#{demoImage.thumbnailURL}")
                        div.caption
                            form(method="post")
                                input(type="hidden",name="image",value="#{demoImage.key}")
                                button.btn.btn-default(type="submit") #{demoImage.key} 
    
            //-div.col-sm-6.col-md-2
            //-    div.thumbnail
            //-        div.img-select-viewport
            //-            img(data-src="holder.js/128x128")
            //-            canvas(width="128",height="128",id="file-preview")                    
            //-            input(type="file",id="file-selector",accept="image/*")
            //-        div.caption                            
            //-            a.btn.btn-default(onclick="$('#file-selector').click();") Choose image 





        div.output(id="output")
        
            - if (typeof(result) !== 'undefined'){

            h2 Analyze results

            div.panel.panel-default
                .panel-heading Source image
                .panel-body
                    .row
                        .col-md-6       
                            img(src="#{result.source}")
                        .col-md-6       
                            - if (result.common.hasColor) {   
                            img(src="#{result.color.histogramImage}")
                            - }
                            br
                            br
                            ul
                                li Image frame size #{result.common.frameSize.width}:#{result.common.frameSize.height}
                                li Image aspect ratio is #{result.common.aspectRatio.width}:#{result.common.aspectRatio.height}
                                                         

            div.panel.panel-default
                .panel-heading Grayscale
                .panel-body
                    .row
                        .col-md-6       
                            img(src="#{result.common.grayscaleImage}")
                        .col-md-6       
                            img(src="#{result.grayscale.histogramImage}")
                            br
                            br
                            ul
                                li Contrast #{result.grayscale.rmsContrast}
                                li Min brightness #{result.grayscale.intensity.min}
                                li Max brightness #{result.grayscale.intensity.max}
                                li Average brightness #{result.grayscale.intensity.average}

            - if (result.common.hasColor) {

            div.panel.panel-default
                .panel-heading Analyze of colors
                .panel-body
                    .row
                        .col-md-6       
                            img(src="#{result.color.dominantColorsImage}")
                        .col-md-6       
                            ul
                                li Total unique colors - #{result.color.uniqieColors}
                                li Reduced colors - #{result.color.reducedColors}
                                li Dominant colors - #{result.color.dominantColors.length}

            - } 

            div.panel.panel-default
                .panel-heading Edges
                .panel-body
                    .row
                        .col-md-6       
                            img(src="#{result.edges.cannyImage}")
                        .col-md-6       
                            ul
                                li Canny lower threshold #{result.edges.cannyLowerThreshold}
                                li Canny upper threshold #{result.edges.cannyUpperThreshold}

            -}
